<form
  class="needs-v pohode, form-group"
  [formGroup]="carCreateForm"
  (ngSubmit)="insertCar()"
>
  <div class="my-car-create-container">
    <div>
      <input
        formControlName="inputBrand"
        type="text"
        class="form-control"
        placeholder="Zadajte značku auta"
        [class.is-invalid]="inputBrand.invalid && inputBrand.touched"
        required
      >

      <div
        *ngIf="inputBrand.invalid && (inputBrand.dirty || inputBrand.touched)"
        class=" alert alert-danger"
      >

        <div
          *ngIf="inputBrand.errors?.required && inputBrand.touched"
          class="text-warning"
        >
          <small>Ak bude pole prázdne, vygeneruje sa náhodná značka auta!</small>
        </div>

        <div
          *ngIf="inputBrand.errors?.maxlength"
          class="text-danger"
        >
          <small>Maximálna dĺžka je 20 znakov.</small>
        </div>

        <div
          *ngIf="inputBrand.errors?.pattern"
          class="text-danger"
        >
          <small>Povolené znaky sú iba písmená.</small>
        </div>
      </div>
    </div>

    <div class="my-create-button">
      <button
        type="button"
        class="btn btn-primary btn-submit"
        (click)="insertCar()"
      >Pridať auto</button>
    </div>
  </div>
</form>
